ansicon
asgiref
awscli
awsebcli
bcrypt
blessed
botocore
cement
certifi
cffi
charset-normalizer
clr_loader
colorama
cryptography
decorator
Deprecated
Django>=4.2
django-cors-headers
djangorestframework
docutils
et_xmlfile
fabric
gunicorn>=22.0
idna
invoke
jinxed
jmespath
numpy
openpyxl
packaging
pandas
paramiko
pathspec
pillow
pyasn1
pycparser
PyNaCl
python-dateutil
pythonnet
PyYAML
reportlab
requests
rsa
s3transfer
semantic-version
setuptools
six
sqlparse
termcolor
tzdata
urllib3
wcwidth
wrapt

psycopg2-binary
